.pdf-merge {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 16px;
}

.files-manipulation__container {
  max-width: 90vw;
  min-width: 80%;
  width: auto;
  margin: 0 auto;
  position: relative;
}

.handle-btns {
  display: flex;
  margin: 0 auto;
  padding: 16px;
  justify-content: space-around;

  .btn {
    width: 200px;
    height: 54px;
    font-size: 24px;
    margin: 0 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .merge-btn {
    background-color: purple;
    &:hover {
      background-color: rgba(128, 0, 128, 0.9);
    }
  }

  .download-btn {
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    &:hover {
      background-color: rgba(0, 128, 128, 0.9);
    }
  }

  .disabled-btn {
    pointer-events: none;
    background-color: #f4e3c2;
    color: #c1c1c1;
  }
}

@media (1024px < width <= 1440px) {
  .files-manipulation__container {
    max-width: 1200px;
  }
}

@media (768px <= width <= 1024px) {
  .files-manipulation__container {
    max-width: 900px;
  }
}

@media (576px <= width < 768px) {
  .files-manipulation__container {
    max-width: 600px;
  }
}

@media (width < 576px) {
  .files-manipulation__container {
    max-width: 460px;
  }
}
